.navbar-SISE{
    font-size: 50px
}
a.navbar-brand.texto{
       font-size: 12px;
}
btn-lista{
    background-color: red;
}
btn-lista:hover{
    color: #FFF;
    background-color: #ca2600;
    border-color: #bd2300;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}
.titulo-form{
    background-color: #579A8D; 
}